<!---->
<section class="section-padding wow fadeInUp delay-05s" id="AboutMe">
  <div class="container">
    <div class="row white">
      <div class="col-md-12 col-sm-12">
        <div class="section-title">
          <!---<h2 class="head-title black cursive">Om mig</h2>-->

          <div class="row">

            <div class="col-sm-12 col-md-12">

              <p class="sec-para fit-middle">
                Hej, jag är en person som gillar problemlösning. Inresset för att skapa saker har alltid funnits hos mig.
                När jag var liten drömde jag alltid om att skapa mina egna dataspel och nu det senaste har jag själv lärt mig att programmera nätverksbaserade 3D dataspel i Unity. Utöver detta och programmering mot webben har jag även ett intresse för att redigera film.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding wow fadeInUp delay-05s">
  <div class="container">
    <div class="row white">
      <div class="col-md-12 col-sm-12">
        <div class="section-title">
          <a target="_blank" href="/mygame"><h2 id="newtabid" class="sub-headline">Hobbyprojekt - Spelutveckling i Unity 3D <span class="newtab glyphicon glyphicon-new-window"></span></h2></a>

          <div class="row">
            <div class="col-sm-6 col-md-7 order-md-5">
              <video controls class="img-fluid" oncanplay="this.play()" onloadedmetadata="this.muted = true">
                <source src="assets/myGame.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div>
            <div class="col-sm-6 col-md-5 order-md-7">
              <div class='l-quote quote'>
                <blockquote>

                  <div class="alert alert-success movetagleft margintagleft">
                    C#
                  </div>

                  <div class="alert alert-success movetagleft margintagleft">
                    Unity 3D
                  </div>


                  <div class="alert alert-success movetagleft margintagleft">
                    Blender
                  </div>


                  <div class="alert alert-success movetagleft margintagleft">
                    Photoshop
                  </div>
                  <div style="clear: both;"></div>

                  <p class="movetagleft" style="padding: 35px 0px;">
                    I mitt senaste spelprojekt har jag byggt stöd för nätverksanslutningar över ett lokalt nätvärk.
                  </p>
                  <div style="clear: both;"></div>

                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding wow fadeInUp delay-05s" id="AboutMe">
  <div class="container">
    <div class="row white">
      <div class="col-md-12 col-sm-12">
        <div class="section-title">
          <h2 class="sub-headline">Senaste från min utvecklingsblogg</h2>
          <div class="row">

            <div class="col-sm-12 col-md-12">

              <p class="sec-para fit-middle">
                Hej, jag är en person som gillar problemlösning. Inresset för att skapa saker har alltid funnits hos mig.
                När jag var liten drömde jag alltid om att skapa mina egna dataspel och nu det senaste har jag själv lärt mig att programmera nätverksbaserade 3D dataspel i Unity. Utöver detta och programmering mot webben har jag även ett intresse för att redigera film.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!---
<section class="section-padding wow fadeInUp delay-05s" id="ContactMe">
  <div class="container">
    <div class="row nomargin col-md-12 col-sm-12">
      <div class="col-md-4 col-sm-6" style="padding-left:0px;">
        <h3 class="cont-title">Email Us</h3>
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <div class="contact-info">
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <button type="submit" class="btn btn-send">Send</button>
          </form>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3 class="cont-title">Visit Us</h3>
        <div class="location-info">
          <p class="white"><span aria-hidden="true" class="fa fa-map-marker"></span>Via Principe Amedeo 9, Torino, Italy</p>
          <p class="white"><span aria-hidden="true" class="fa fa-phone"></span>Phone: 0039 333 12 68 347</p>
          <p class="white"><span aria-hidden="true" class="fa fa-envelope"></span>Email: <a href="" class="link-dec">hi@yourdomain.com</a></p>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</section>-->

