<!--header-->
<header class="main-header" id="header">
  <div class="bg-color">
    <!--nav-->

    <app-menu></app-menu>
    <!--/ (click)="myFunc()" nav-->
    <div class="container text-center">
      <div [@movePanel]="state" class="wrapper wow fadeInUp delay-05s paddingtop50">
        <h3 class="title">Mina</h3>
        <h4 class="sub-title">Kompetenser</h4>
      </div>
    </div>
  </div>
</header>
<!--/ header-->

<section class="section-padding wow fadeInUp delay-05s" id="AboutMe">
  <div class="container">
    <div class="row white">
      <div class="col-md-12 col-sm-12">
        <div class="section-title">
          <!---<h2 class="head-title black cursive">Om mig</h2>-->

          <div class="row">

            <div class="col-sm-12 col-md-12">

              <p class="sec-para fit-middle">
                Nedan rankar jag de programmeringsspråk, ramverk samt program efter hur bekväm jag känner mig med att arbeta med dem.
                Jag skriver om hur mycket erfarenhet jag har haft med respektive ämne.
              </p>
              <div class="small-spacer"></div>
              <img src="/assets/logoangular.png" class="middleIcon" />  <div class="small-spacer"></div>
              <p class="sec-para fit-middle" style="text-align:center">
              Denna webbsida är bygg med Angular 7
              <br /> tillsammans med Web API
              <br /> i Visual Studio 2017 </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<app-skillset></app-skillset>
