<!--header-->
<header class="main-header" id="header">
  <div class="bg-color">
    <!--nav-->

    <app-menu></app-menu>
    <!--/ (click)="myFunc()" nav-->
    <div class="container text-center">
      <div class="wrapper wow fadeInUp delay-05s">
        <h3 class="title">Mina</h3>
        <h4 class="sub-title">Kompentenser</h4>
      </div>
    </div>
  </div>
</header>
<!--/ header-->

<section class="section-padding wow fadeInUp delay-05s" id="AboutMe">
  <div class="container">
    <div class="row white">
      <div class="col-md-12 col-sm-12">
        <div class="section-title">
          <!---<h2 class="head-title black cursive">Om mig</h2>-->

          <div class="row">

            <div class="col-sm-12 col-md-12">

              <p class="sec-para fit-middle">
                Nedan rankar jag de programmeringsspråk, ramverk samt program efter hur bekväm jag känner mig med att arbeta med dem.
                Jag skriver om hur mycket erfarenhet jag har haft med respektive ämne.
              </p>
              <div class="small-spacer"></div>
              <img _ngcontent-nmj-c1="" src="/assets/logoangular.png" style="
    width: 100px;
    margin: auto;
    height: 100px;
    display: block;
">  <div class="small-spacer"></div>
              <p class="sub-headline" style="text-align:center">
              Denna webbsida är bygg med Angular 7
              <br /> tillsammans med Web API
              <br /> i Visual Studio 2017 </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section-padding wow fadeInUp delay-05s" id="Kompetenser">
  <div class="container">
    <div class="row white">
      <div class="col-md-12 col-sm-12">
        <div class="section-title">
          <h2 class="sub-headline">BEKVÄMLIGHETSSKALA</h2>
          <h4 class="sub-title" style="text-align:center">SPRÅK/RAMVERK</h4>
          <div class="small-spacer"></div>
          <!---<h2 class="head-title black cursive">Om mig</h2>-->
          <div class="row">
            <div class="col-lg-6 col-md-12 skillrow">


              <div class="row">
                <div class="col-1"><span class="left iconskill glyphicon glyphicon-thumbs-down"></span></div>
                <div class="col-10">
                  <h2>.NET Framework</h2>
                  <div class="spanskill"><div class="meter col-10"></div></div>
                </div>
                <div class="col-1">
                  <span class="right iconskill glyphicon glyphicon-thumbs-up"></span>
                </div>
              </div>


            </div> <!-- row 1 -->
            <div class="col-lg-6 col-md-12 skillrow">



              <div class="row">
                <div class="col-1"><span class="left iconskill glyphicon glyphicon-thumbs-down"></span></div>
                <div class="col-10">
                  <h2>ANGULAR</h2>
                  <div class="spanskill"><div class="meter col-5"></div></div>
                </div>
                <div class="col-1">
                  <span class="right iconskill glyphicon glyphicon-thumbs-up"></span>
                </div>
              </div>

            </div> <!-- row 2 -->
            <div class="col-lg-6 col-md-12 skillrow">


              <div class="row">
                <div class="col-1"><span class="left iconskill glyphicon glyphicon-thumbs-down"></span></div>
                <div class="col-10">
                  <h2>Javascript</h2>
                  <div class="spanskill"><div class="meter col-7"></div></div>
                </div>
                <div class="col-1">
                  <span class="right iconskill glyphicon glyphicon-thumbs-up"></span>
                </div>
              </div>


            </div> <!-- row 1 -->
            <div class="col-lg-6 col-md-12 skillrow">



              <div class="row">
                <div class="col-1"><span class="left iconskill glyphicon glyphicon-thumbs-down"></span></div>
                <div class="col-10">
                  <h2>SQL Server</h2>
                  <div class="spanskill"><div class="meter col-11"></div></div>
                </div>
                <div class="col-1">
                  <span class="right iconskill glyphicon glyphicon-thumbs-up"></span>
                </div>
              </div>

            </div> <!-- row 2 -->
            <div class="col-lg-6 col-md-12 skillrow">


              <div class="row">
                <div class="col-1"><span class="left iconskill glyphicon glyphicon-thumbs-down"></span></div>
                <div class="col-10">
                  <h2>.NET MVC</h2>
                  <div class="spanskill"><div class="meter col-12"></div></div>
                </div>
                <div class="col-1">
                  <span class="right iconskill glyphicon glyphicon-thumbs-up"></span>
                </div>
              </div>


            </div> <!-- row 1 -->
            <div class="col-lg-6 col-md-12 skillrow">



              <div class="row">
                <div class="col-1"><span class="left iconskill glyphicon glyphicon-thumbs-down"></span></div>
                <div class="col-10">
                  <h2>HTML + SCSS/CSS</h2>
                  <div class="spanskill"><div class="meter col-12"></div></div>
                </div>
                <div class="col-1">
                  <span class="right iconskill glyphicon glyphicon-thumbs-up"></span>
                </div>
              </div>

            </div> <!-- row 2 -->
            <div class="col-lg-6 col-md-12 skillrow">


              <div class="row">
                <div class="col-1"><span class="left iconskill glyphicon glyphicon-thumbs-down"></span></div>
                <div class="col-10">
                  <h2>Entity Framework</h2>
                  <div class="spanskill"><div class="meter col-10"></div></div>
                </div>
                <div class="col-1">
                  <span class="right iconskill glyphicon glyphicon-thumbs-up"></span>
                </div>
              </div>


            </div> <!-- row 1 -->
            <div class="col-lg-6 col-md-12 skillrow">



              <div class="row">
                <div class="col-1"><span class="left iconskill glyphicon glyphicon-thumbs-down"></span></div>
                <div class="col-10">
                  <h2>WEB API</h2>
                  <div class="spanskill"><div class="meter col-7"></div></div>
                </div>
                <div class="col-1">
                  <span class="right iconskill glyphicon glyphicon-thumbs-up"></span>
                </div>
              </div>

            </div> <!-- row 2 -->
            <div class="col-lg-6 col-md-12 skillrow">



              <div class="row">
                <div class="col-1"><span class="left iconskill glyphicon glyphicon-thumbs-down"></span></div>
                <div class="col-10">
                  <h2>C#</h2>
                  <div class="spanskill"><div class="meter col-8"></div></div>
                </div>
                <div class="col-1">
                  <span class="right iconskill glyphicon glyphicon-thumbs-up"></span>
                </div>
              </div>

            </div> <!-- row 2 -->

            <div class="col-lg-6 col-md-12 skillrow">



              <div class="row">
                <div class="col-1"><span class="left iconskill glyphicon glyphicon-thumbs-down"></span></div>
                <div class="col-10">
                  <h2>Boostrap</h2>
                  <div class="spanskill"><div class="meter col-12"></div></div>
                </div>
                <div class="col-1">
                  <span class="right iconskill glyphicon glyphicon-thumbs-up"></span>
                </div>
              </div>

            </div> <!-- row 2 -->
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


