<!--header-->
<header class="main-header" id="header">
  <div class="bg-color">
    <!--nav-->

    <app-menu></app-menu>
    <!--/ (click)="myFunc()" <h1 [@movePanel]="state">HELLLLLELLE LELL LL ELFAOFO A</h1>
  nav-->
    <div class="container text-center">
      <div [@movePanel]="state" class="wrapper wow fadeInUp delay-05s paddingtop50">
        <h2 class="top-title">Frontendutvecklare</h2>
        <h3 class="chris-title">Christopher</h3>
        <h4 class="sub-title">Jubell</h4>

        <a download href="../assets/CV_210718.pdf" class="btn btn-submit">Ladda ner Mitt CV</a>
        <a download href="../assets/CV_210718.pdf" class="btn btn-submit">Mitt Unity Spel Alpha 1.0</a>
      </div>
    </div>
  </div>
</header>
<img src="../assets/notebook-1280538_1280.jpg" style="display:none" />
<!--/ header-->
<app-footer></app-footer>
