<!--header-->
<header class="main-header" id="header">
  <div class="bg-color">
    <!--nav-->

    <app-menu></app-menu>
    <!--/ (click)="myFunc()" nav-->
    <div class="container text-center">
      <div class="wrapper wow fadeInUp delay-05s">
        <h2 class="top-title">Frontendutvecklare</h2>
        <h3 class="title">Christopher</h3>
        <h4 class="sub-title">Jubell</h4>
        <!--<a download href="~/../ClientApp/src/assets/CV_210718.pdf">Download my CV</a>-->
        <button type="submit" class="btn btn-submit">Ladda ner Mitt CV</button>
      </div>
    </div>
  </div>
</header>
<!--/ header-->
<app-footer></app-footer>
